* {
  margin: 0;
  padding: 0;
}

html, body, .container, .row {
  height: 100%;
  background-color: #f2f2f2;
  font-family: Tahoma, Geneva, sans-serif;
}

.col-md-2, .col-md-8 {
  min-height: 100%;
  height: 100%;
}

.col-md-2 {
  background-color: #f2f2f2;
  padding-right: 10px;
}

.col-md-8 {
  background-color: #FFFFFF;
}

a, a:hover {
  color: #393939;
  text-decoration: none;  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-list {
  margin-top: 10px;
  margin-left: 60px;
}

.project-list li {
  margin-bottom: 0px;
}

.project-list li ul li a {
  padding-left: 40px;
}

.project-list a {
  display: block;
  padding: 6px 14px;
}

.project-list a:hover{
  background-color: #fff;
};