<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="row">        
        <div class="col-md-3 col-sm-3">
          <div class="logo">
            <p>Logo</p>
          </div>
          <div class="project-side">
            <hr />
            <ul class="project-list">

            </ul>
            <hr />            
            <a class="btn btn-default btn-md" id="addProject">Add project</a>        
            <button class="btn btn-default btn-md add-room">Add room</button>  
          </div>
        </div>

        <div class="col-md-8 col-sm-8 sidebar">
          <div class="">
            <div class="settings">
              <p>Settings</p>
            </div>
            <hr>
            <ul id="room-objects">
            </ul>
            <hr style="margin-top: 12px;" />
            <form action="" class="form-inline">
              <button type="button" class="btn btn-default btn-md" id="addNewRoomObject"><span class="glyphicon glyphicon-plus"></span>
               Add room object</button>      
            </form>
            <hr />
            <div class="summary">
              <div class="summary-area">Total area: <b>100</b></div>
              <div class="summary-cost">Total cost: <b>1000</b></div>
            </div>
          </div>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/vendor/handlebars-v2.0.0.js')}}"></script>  
    <script src="{{ url_for('static', filename='js/vendor/jquery.inputmask.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/inputmask/jquery.inputmask.extensions.js')}}"></script>     
    <script src="{{ url_for('static', filename='js/vendor/inputmask/jquery.inputmask.numeric.extensions.js')}}"></script>  
    <script src="{{ url_for('static', filename='js/vendor/cldr.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/cldr/event.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/cldr/supplemental.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/globalize.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/globalize/number.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/globalize/date.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/globalize/plural.js')}}"></script>        
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>        
    <script type="text/javascript">  
      setGlobalize()    
      bindEvents();
      $( document ).ready(function() {
        createNewWorkspace();         
        setAreaValue(calcArea());      
        setMasks();
      });            
    </script>
  </body>
</html>
