{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="row">        
        <div class="col-md-3 col-sm-3">
          <div class="logo">
            <p>Logo</p>
          </div>
          <div class="project-side">
            <hr />
            <ul class="project-list">
              {% for project in projects %}
                <li>
                  <table class="project-table">
                    <tr>
                      <td class="project-name"><a href="#">{{project.name}}</a> </td>
                      <td class="project-dropdown">
                        <ul>
                          <li class="dropdown">                      
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Add above</a></li>
                              <li><a href="#">Add below</a></li>
                              <li><a href="#" class=".add-room">Add room</a></li>
                              <li><a href="#">Rename</a></li>                            
                              <li class="divider"></li>
                              <li><a href="#">Delete</a></li>
                            </ul>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </li>
              {% endfor %}
            </ul>
            <hr />            
            <a class="btn btn-default btn-md" id="addProject">Add project</a>        
            <button class="btn btn-default btn-md add-room">Add room</button>  
          </div>
        </div>

        <div class="col-md-8 col-sm-8 sidebar">
          <div class="">
            <div class="settings">
              <p>Settings</p>
            </div>
            <hr>
            <ul id="room-objects">
            </ul>
            <hr style="margin-top: 12px;" />
            <form action="" class="form-inline">
              <button type="button" class="btn btn-default btn-md" id="addNewRoomObject"><span class="glyphicon glyphicon-plus"></span>
               Add room object</button>      
            </form>
            <hr />
            <div class="summary">
              <div class="summary-area">Total area: <b>100</b></div>
              <div class="summary-cost">Total cost: <b>1000</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block js_footer %}
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>        
    <script type="text/javascript">  
      setGlobalize()    
      bindEvents();
      $( document ).ready(function() {
        //createNewWorkspace();         
        setAreaValue(calcArea());      
        setMasks();
      });            
    </script>
{% endblock %}